/* ESTILOS GENERALES Y DE INDEX */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FAEDCD;
}

/* font-family: 'Montserrat', sans-serif; (como llamar a la fuente) */

.fondo{
    background-image: url(../media/encabezado.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 250px;
}

.fondoTexto{
    background: none;
}

.encabezado{
    background-image: url(../media/encabezado.jpg);
    background-size: cover;
    background-position: center;
    /* grid-area: encabezado; */
    position: relative;
    height: 200px;
}

.row{
    margin: 0;
}

body{
    margin: 0;
}

.encabezado__titulo{
    background: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #FAEDCD;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.NavImagenLogo{
    width: 50px;
    height: 50px;
}

.navbar-light{
    background-color: #D4A373;
    margin: 0;
    padding: 0;
}

.bg-light{
    background-color: #D4A373;
}

.sinSubrayado{
    text-decoration: none;
    color: #472F16;
}

.principal{
    text-align: center;
}

.principal__logoHome{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 50%;
}

.princial__titulo{
    margin-bottom: 5px;
    text-align: center;
}

.principal__texto {
    margin-bottom: 30px;
    display: inline-block;
    text-align: center;
    width: 70%;
}

.animacionImagenes{
    transition: all 1.5s ease-out;
}

.animacionImagenes:hover {
    transform: scale(1.5,1.5);
}

.animacionAmpliar{
    animation-duration: 1.5s;
    animation-name: ampliar;
    animation-iteration-count: infinite;
}

@keyframes ampliar{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.5,1.5);
    }
    100%{
        transform: scale(1,1);
    }
}

.piePagina{
    font-family: 'Montserrat', sans-serif;
    color: #472F16;
    font-size: 14px;
    text-align: center;
    background-color: #CCD5AE;
    grid-area: pie;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.piePagina a{
    background-color: #CCD5AE;
}

.piePagina p{
    background-color: #CCD5AE;
}

.piePagina__social{
    width: 45px;
    height: 45px;
    margin: 10px 0px 0px 0px;
    background: none;
}

.redes{
    background: none;
    text-align: center;
    margin: 0px 15px 0px 15px;
}

/* ESTILOS Y MODIFICADORES DE PRODUCTOS */

.contenidoProductos{
    justify-self: center;
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    background-color: #FAEDCD;
}

.principalProductos{
    font-family: 'Montserrat', sans-serif;
    color: #472F16;
    text-align: center;
}

.princial__titulo__productos{
    margin-top: 18px;
    margin-bottom: 20px;
}

.productos{
    font-family: 'Montserrat', sans-serif;
    color: #472F16;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nombrePrecioDescripcion{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.nombrePrecio{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.nombrePrecio h2{
    width: 145px;
    text-align: left;
}

.producto__imagen{
    width: auto;
    height: auto;
    width: 100%;
    min-width: 100px;
    max-width: 300px;
}

.producto__descripcion{
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    text-align: justify;
}

/* ESTILOS Y MODIFICADORES DE HAZ TU PEDIDO */

.contenedorPedidos{
    justify-self: center;
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 50px;
}

.pedidos{
    font-family: 'Montserrat', sans-serif;
    color: #472F16;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-primary{
    background-color: #472F16;
    border: #472F16
}

.principalPedidos{
    font-family: 'Montserrat', sans-serif;
    color: #472F16;
    font-size: 14px;
    text-align: center;
    width: 100%;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.pedidos__titulo{
    margin: 0px 0px 15px 0px ;
    text-align: left;
}

.pedidos__enviamos{
    display: inline;
    text-align: justify;
    width: 50%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.anchoFormulario{
    width: 100%;
}

.pedidos__recoge{
    display: inline;
    text-align: center;
    width: 50%;
    float: right;
    padding: 5px
}

.margenCheck{
    margin-top: 10px;
    margin-bottom: 10px;
}

.boton{
    display: block;
    float: right;
}

/* ESTILOS Y MODIFICADORES DE NOSOTROS */

.contenedorNosotros{
    justify-self: center;
    grid-area: contenido;
    display: flex;
    flex-direction: column;
}

.principalNosotros{
    font-family: 'Montserrat', sans-serif;
    color: #472F16;
    text-align: center;
}

.visionMision{
    font-family: 'Montserrat', sans-serif;
    color: #472F16;
    display: inline-block;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.vision{
    display: inline;
    text-align: left;
    width: 100%;
    margin-right: 2px;
}

.mision{
    display: inline;
    text-align: left;
    width: 100%;
}

.centrar{
    text-align: center;
}

/* ESTILOS Y MODIFICADORES DE BLOG */

.contenedorBlog{
    grid-area: contenido;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.principalBlog{
    font-family: 'Montserrat', sans-serif;
    color: #472F16;
    text-align: center;
}

.blog{
    font-family: 'Montserrat', sans-serif;
    color: #472F16;
    text-align: center;
    margin-bottom: 30px;
}

.entrada{
    display: inline-block;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

.entrada__titulo{
    margin-bottom: 10px;
}

@media screen and (max-width: 426px){

    /* MEDIA QUERY GENERAL */

    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: 240px 150px auto 85px;
    }

    .barraNavegacion{
        flex-direction: column;
        height: 150px;
        justify-content: center;
    }

    .barraNavegacion a{
        text-align: center;
    }

    .barraNavegacion ul{
        flex-direction: column;
    }

    /* MEDIA QUERY HOME */

    .productos{
        flex-direction: column;
        margin-top: 10px;
    }

    .nombrePrecioDescripcion{
        margin-left: 0;
        margin-top: 10px;
    }

    /* MEDIA QUERY PEDIDOS */

    .pedidos{
        flex-direction: column;
    }

    .pedidos__enviamos{
        width: 100%;
    }

    .pedidos__recoge{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* MEDIA QUERY NOSOTROS */

    .visionMision{
        flex-direction: column;
    }

    .vision{
        margin-top: 5px;
    }

    .mision{
        margin-top: 10px;
    }

}